@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Montserrat:wght@600&display=swap');

body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important;
    list-style-type: none !important;
}
a:visited{
    color:#1d1e20;
}
a:link{
    color:#1d1e20;
}
a:active{
    color:#1d1e20;
}
a:hover{
    color:#1d1e20b7 !important;
}

/*Navbar*/
.navbar {
    color: #1d1e20;
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff !important;
    height:88px;
    border:1px solid black;
    display:flex;
    flex-wrap: wrap;
}
.navbar-left{
    display:flex;
    height:auto;
    margin-left: -80px;
}
.navbar-brand img{
    padding-top: 0px;
    width: 147px !important; 
    height: 30px !important;
}
.navbar-left img:nth-child(2){
    height:30px !important;
    padding-top:5%;
}
.navbar-left p{
    height:30px;
    padding-top:11px;
    padding-left:5px;
    font-weight:bolder;
}

.navbar-right{
    display:flex;
    flex-wrap: wrap;
    color:#1d1e20;
   
}

.navbar-right button:hover{
    background-color: #673de6 !important;
}
.navbar-right {
    margin-right:-50px;
}
.navbar-right .nav-button{
    font-weight: bolder;
    border:2px solid black;
    border-radius: 5px;
}