@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Montserrat:wght@600&display=swap');

body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}