@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Montserrat:wght@600&display=swap');

body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important;
    list-style-type: none !important;
}
a:visited{
    color:#1d1e20;
}
a:link{
    color:#1d1e20;
}
a:active{
    color:#1d1e20;
}
a:hover{
    color:#1d1e20b7 !important;
}

/*Navbar*/
.navbar {
    color: #1d1e20;
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff !important;
    height:88px;
    display:flex;
    flex-wrap: wrap;
}
.navbar-left{
    display:flex;
    height:auto;
    margin-left: -80px;
}
.navbar-brand img{
    padding-top: 0px;
    width: 147px !important; 
    height: 30px !important;
}
.navbar-left img:nth-child(2){
    height:30px !important;
    padding-top:5%;
}
.navbar-left p{
    height:30px;
    padding-top:11px;
    padding-left:5px;
    font-weight:bolder;
}

.navbar-right{
    display:flex;
    flex-wrap: wrap;
    color:#1d1e20;
   
}

.navbar-right button:hover{
    background-color: #673de6 !important;
}
.navbar-right {
    margin-right:-50px;
}
.navbar-right .nav-button{
    font-weight: bolder;
    border:2px solid black;
    border-radius: 5px;
}
/*Navbar*/
.hero-container{
    height:808px;
}
.inside-hero-container{
    height:548px;
    width:1312px;
    margin-top:164px;
    display:flex;
    flex-wrap:wrap;
}

.right-side img{
    width:718px;
    height:461px;
    margin-top:62px;
    margin-bottom: 43px;
    margin-left:154px;
}
.left-side{
    height:548px;
    width:429px;
    text-align: start;
}

.left-side h1{
    font-size:36px;
    margin-bottom: 8px;
    color:#2f1c6a;
    font-weight: bolder;
}
.left-side h2{
    font-size:20px;
    margin-bottom: 24px;
    color:#2f1c6a;
}
.left-side .color{
    color:#673de6;
}
.left-side p{
    font-size:16px;
    font-weight: lighter;
}
.fa-question{
    font-size:12px;
    padding:3px;
}
.dollar{
    font-size: 20px;
    color:#2f1c6a;
}
.price{
    font-size:48px;
    color:#2f1c6a;
}
.month{
    font-size:20px;
    color:#2f1c6a;
}
.months{
    font-size:18px;
    color:#2f1c6a;
    font-weight: 700px !important;
}
.timer{
    display: flex;
}
.box-1, .box-2, .box-3, .box-4{
    border:1.6px solid #2f1c6a;
    border-radius: 5px;
    width:15%;
    margin-left:1.5%;
    margin-right:1.5%;
}
.timer p{
    font-size:24px;
    font-weight: 300;
    margin: 0px;
    padding:10px;
}
.timer > .point{
    font-size: 25px;
    padding:0;
    margin:0;
    margin-top:10px;
}
.claim button{
    width:315px;
    height:48px;
    color:white;
    background-color: #673de6;
    margin-top:24px;
    border-radius: 5px;
    border:none;
}
.claim p{
    margin-top:12px;
    color:#2f1c6a;
}
/*Review first*/

.review-first{
    height:auto;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin-top:120px;
    justify-content: center;
    column-gap: 25px;


}
.review-first p{
    font-size:13px;
    color:gray;
}
.review-first .review-bold{
    font-weight: 700px;
    color:black;
}
.trustpilot{
    width:20%;
    text-align: left;


}
.trustpilot .brand{
    height:32px;
}
.trustpilot .stars{
    height:45px;
}
.reviewbox{
    width:20%;
    text-align: left;
}
.reviewbox .brand{
    height:23px;
    margin-top:10px;
}
.reviewbox img{
    height:30px;
    margin-top:5px;
}

/*Pricing section*/
.pricing-section{
    height:1519px;
    border:1px solid black;
    text-align: center;
    margin-top:120px;

}
.pricing-section h1{
    
    color:#2f1c6a;
    font-size: 36px;
    font-weight: 700px;
}